In [2]:
#Import packages
import pandas as pd

#DataQuest URL
lea_url = 'https://data1.cde.ca.gov/dataquest/dqcensus/EnrEthGrd.aspx?cds=19647091996313&agglevel=school&year=2020-21'

In [9]:
df = pd.read_html(lea_url)[1]

In [296]:
df = pd.melt(df, id_vars=['Ethnicity'],
            var_name = 'Grade Level', value_name = 'LEA Total')

In [297]:
filtered_df = df.loc[(df['Ethnicity'] == 'African American') | (df['Ethnicity'] == 'Hispanic or Latino')]

high_school = ['Grade 9', 'Grade 10', 'Grade 11', 'Grade 12']
filtered_df = filtered_df[filtered_df['Grade Level'].isin(high_school)]

filtered_df['Grade Level'] = filtered_df['Grade Level'].str.extract('(\d+)').astype(int)

filtered_df = filtered_df.sort_values(by = 'Grade Level', ascending = True)
filtered_df.reset_index(drop = True, inplace = True)
filtered_df

            Ethnicity  Grade Level  LEA Total
0    African American            9          0
1  Hispanic or Latino            9        176
2    African American           10          1
3  Hispanic or Latino           10        171
4    African American           11          1
5  Hispanic or Latino           11        156
6    African American           12          2
7  Hispanic or Latino           12        140

In [ ]:
# create a new data frame that identifies Ethnicity equal to "African American" or "Hispanic or Latino"
# save as filtered_df

# Use filtered_df 'Grade Level' column to identify any string values that are between Grade 9-12. Save over filtered_df. 

# Lastly, extract all numeric values over 'Grade Level' column change to type integer & save as new 'Grade Level' column. 
# Sort filtered_df on 'Grade Level' in ascending order & reset the index.